<div class="superior">
  <div class="container">
      <span class="span"><b>Home</b></span>
      <input class="input" type="text" placeholder="Search 500,000+ games">
      <button class="button"><b>Search</b></button>
  </div>
</div>

<!-- ESTO ES UNA PRUEBA DE LA PANTALLA DE TARJETAS DE INICIO -->
<!-- SE MOVILIZARÁ A UNA PANTALLA PARA EL PROYECTO -->

<br>
<br>
<br>
<br>
<br>

<br>
<br>
<br>
<br>
<br>

<div class="tarjetas">
  <app-cards></app-cards>
  <app-cards></app-cards>
  <app-cards></app-cards>
  <app-cards></app-cards>
</div>
