<div class="superior">
  <div class="container">
      <span class="span" [routerLink]="['']"><b>Home</b></span> <!--agregar un router link con las comillas vacias para probar si nos lleva al local host-->
      <input class="input" type="text" placeholder="Search 500,000+ games">
      <button class="button"><b>Search</b></button>
  </div>
</div>


<!-- ESTO ES UNA PRUBA DE LAS RUTAS -->

<div class="jsjs">
  <a [routerLink]="['']">Home</a>
  <a [routerLink]="['search']">Search</a>
  <a [routerLink]="['information']">Information</a>
</div>

<router-outlet></router-outlet>