<div class="superior">
  <div class="container">
      <span class="span"><b>Home</b></span>
      <input class="input" type="text" placeholder="Search 500,000+ games">
      <button class="button"><b>Search</b></button>
  </div>
</div>

<!-- ESTO ES UNA PRUEBA DE LA PANTALLA DE TARJETAS DE INICIO -->
<!-- SE MOVILIZARÁ A UNA PANTALLA PARA EL PROYECTO -->

<br>
<br>
<br>
<br>
<br>

<!-- ESTAS TARJETAS IRÁN DENTRO DE OTRO COMPONENTE PANTALLA, SOLO SON DE PRUEBA PARA VER COMO QUEDARÍAN -->

<div class="tarjetas">
  <app-cards></app-cards>
  <app-cards></app-cards>
  <app-cards></app-cards>
  <app-cards></app-cards>
</div>

<br>
<br>
<br>
<br>
<br>
<br>
<br>

<!-- ESTA PANTALLA DE VIDEJUEGO ES UNA PRUBA DE COMO QUEDARIA EN EL RESULTADO FINAL, YA QUE IRÁ DENTRO DE OTRO COMPONENTE PANTALLA -->


<div class="videojuego">
  <div class="game">
    <app-game></app-game>
  </div>
</div>