/* CSS DE LA PARTE SUPERIOR CON LOS TITULOS */
.raiz{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 20% 0 20% 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.contenedor-titulos{
    display: flex;
    justify-content: center;
}
.title{
    color: #212529;
    font-family: Arial, Helvetica, sans-serif;
}
.first{
    font-size: 4em;
}

/* CSS DE LA PARTE INFERIOR INFORMACION DEL JUEGO */
.padre{
    display: flex;
    justify-content: center;
}
.container{
    max-width: 65%;
    background-color: #410102;
    /* opacity: 90%; */
    padding: 2.5%;
}
.inferior{
    margin: 2% 0 2% 0;
    display: flex;
    justify-content: center;
}
a{
    color: #000000;
}

/* CSS DE LA PARTE MEDIA BARRAS DE ABOUT Y SCREENSHOTS/PHOTOS */
.superior{
    display: flex;
    justify-content: center;
}

/* CSS DE LA PARE DE LAS IMAGENES DEL JUEGO */
.imagenes{
    max-width: 100%;
    display: flex;
    justify-content: center;
}
.imgs{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.img{
    max-width: 48%;
    margin: 1%;
}