<div class="container">

    <h1 class="title">Information about .....</h1>

    <p class="text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
        Doloremque repudiandae facere expedita minima enim odio, optio porro 
        error vero quod dignissimos necessitatibus itaque, veniam aperiam 
        omnis sed culpa recusandae. Soluta iure accusamus voluptatum 
        accusantium distinctio rerum facere culpa necessitatibus sed. Lorem 
        ipsum dolor sit amet consectetur adipisicing elit. Voluptates vel 
        possimus quod accusantium? Facilis labore sapiente dolores itaque 
        doloremque quia!
    </p>

    <div class="imgenes">
        
        <div class="imgs">
            <img class="img" src="https://media.rawg.io/media/games/328/3283617cb7d75d67257fc58339188742.jpg" alt="">
            <img class="img" src="https://media.rawg.io/media/games/328/3283617cb7d75d67257fc58339188742.jpg" alt="">
        </div>
        <div class="imgs">
            <img class="img" src="https://media.rawg.io/media/games/328/3283617cb7d75d67257fc58339188742.jpg" alt="">
            <img class="img" src="https://media.rawg.io/media/games/328/3283617cb7d75d67257fc58339188742.jpg" alt="">
        </div>
        <div class="imgs">
            <img class="img" src="https://media.rawg.io/media/games/328/3283617cb7d75d67257fc58339188742.jpg" alt="">
            <img class="img" src="https://media.rawg.io/media/games/328/3283617cb7d75d67257fc58339188742.jpg" alt="">
        </div>

    </div>

</div>